body
{
    background-color: lightblue;
    text-align: center;
}

#main_header{
    margin-top: 60px;
    margin-bottom: 0px;
}

#tagline
{
 margin-top:5px;
 margin-bottom: 40px;
}

#main_image{
 border-radius:8px;
 border-width: 4px;
 border-style: solid;
 border-color: rgb(56, 50, 168);
}

#about{
    width: 800px;
    font-size: 20px;
    margin-top: 75px;
    text-align:justify;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .search-container {
    position: relative;
    width: 300px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    justify-self: center;
 }

.search-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 2px solid rgb(56, 50, 168);
    border-radius: 4px;
}

.submit-input{
    width: 75px;
    text-align: center;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    background-color: rgb(245, 122, 56);
    border: 2px solid rgb(56, 50, 168);
    border-radius: 4px;
}

.search-icon{
    width: 6%;
    height: 60%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.main_form{
    margin-top: 40px;
    margin-bottom:60px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#searchResults{
 width:1400px;
 text-align:justify;
 justify-self:center;
}

.list_1{
    display: flex;
    margin-left: 200px;
    margin-bottom: 40px;
}

.thumbnail{
  margin-left: 15px;
  float: right;
}

.para{
    width: 70%;
    float: left;
}





#tagResults{
 width: 2000px;
 text-align:justify;
 justify-self:center;
}

.thumbnail1{
  margin-left: 150px;
  margin-top: 55px;
  float: right;
}

.list_2{
    display: flex;
    margin-left: 50px;
    margin-bottom: 40px;
}

.paraTag{
    width: 50%;
    float: left;
    text-align: justify;
}

.tagsA{
    padding: 10px;
}

#tagsResponse
{
width: 90%;
text-align: justify;
margin-left: 50px;
}

#tagsResults{
 width:1400px;
 text-align:justify;
 justify-self:center;
}